.reply-box-container{
    max-width:90rem;
    padding:1rem;
    border:2px solid #8a7e4a;
    margin:3rem auto 0 auto;
    border-radius:1rem;
    background: #f1f0eb;
}

.reply-box-heading{
    font-size:2rem;
    margin-bottom:.5rem;
    user-select:none;
}

.reply-subbut{
    background:#8a7e4a;
    color:#fff;
    margin-top:1rem;
}