.side-menu{
    position:fixed;
    background:rgba(0,0,0,.4);
    left:0;
    top:0;
    width:0;
    height:max-content;
    z-index:10;

    &__main{
        width:0;
        overflow-x:hidden;
        white-space:nowrap;
        height:100vh;
        background:transparent;
        overflow-y:auto;
        opacity:0;
        transition:.3s all ease-in-out;
        background:#fff;
        backdrop-filter: blur(8px);
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    &__content{
        background:#f4f4f4;
        padding:1rem;
        min-height:90%;
    }
}

.side-menu.show{
    display:block;
    width:100%;
}


.side-menu.show > .side-menu__main {
    width:25rem;
    opacity:1;
}

.profile-img-area{
    display:flex;
    align-items:center;
    padding:1.5rem 1rem;
    background:#fff;
    margin-bottom:1rem;
    padding:.8rem;
}

.profile-img-area__img{
    width:7rem;
    height:7rem;
    margin-right:1rem;
    border-radius:90%;
    object-fit: cover;
    object-position:center;
    border:2px solid #fff;
}

.profile-img-area__username{
    font-size:2rem;
    user-select:none;
}

.user-area{
    overflow:hidden;
    margin-bottom:1rem;
    box-shadow:0 0 .5rem rgba(0,0,0,.4);

    &__link{
        display:block;
        font-size:1.8rem;
        padding:1rem 1.5rem;
        color:#000;
        cursor:pointer;
        border-bottom:1px solid #ccc;
        background:#fff;
        transition:background .3s;

        &:hover{
            background:rgba(255,255,255,.9);
        }

        &:hover > span {
            transform: translate(3px);
        }
    }
}

.nav{
    box-shadow:0 0 .5rem rgba(0,0,0,.4);
}