.side-menu{
    background:rgba(0,0,0,.7);
    position:fixed;
    left:0;
    top:0;
    width:0;
    height:100vh;
    z-index:10;
}

.side-menu.show{
    display:block;
    width:100%;
}

.side-menu__main{
    width:0;
    overflow-x:hidden;
    white-space:nowrap;
    height:100vh;
    background:#fff;
    overflow-y:auto;
    opacity:0;
    transition:.3s all ease-in-out;
}

.side-menu.show > .side-menu__main {
    width:28rem;
    opacity:1;
}

.profile-img-area{
    display:flex;
    align-items:center;
    padding:1.5rem 1rem;
}

.profile-img-area__img{
    width:7rem;
    height:7rem;
    margin-right:1rem;
    border-radius:90%;
    object-fit: cover;
    object-position:center;
}

.profile-img-area__username{
    font-size:2rem;
    color:#666;
}

.user-area{
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
    background:#8a7e4a;

    &__link{
        display:block;
        font-size:1.8rem;
        padding:1rem 1.5rem;
        color:#fff;
        cursor:pointer;

        &:not(:last-child){
            border-bottom:1px solid #fff;
        }
    }
}