.header-bar{
    padding:.5rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    will-change:transform;
    box-shadow: 0 0 1rem rgba(0,0,0,.24);
}

.banner{
    height:15rem;
    position:relative;
    box-shadow:0 0 1rem rgba(0,0,0,.24);
    background: url(../../../assets/banner-2.jpg) center / cover;
}

.spinner{
    display:block;
    margin:10rem auto;
    width:12rem;
}

.main-area{
    min-height:35rem;
}

.profile-img{
    width:12rem;
    border-radius:90%;
    position:absolute;
    left:2rem;
    bottom:-35%;
    border:3px solid #fff;
    z-index:2;
}

.username{
    font-size:2.5rem;
    color:#000;
    background:#fff;
    display:inline-block;
    padding:1rem 1rem 1rem 5rem;
    position:absolute;
    left:10rem;
    bottom:1rem;
    border-radius:0 .5rem .5rem 0;
    user-select: none;
}


.role-tag{
    background:#fff;
    border-radius:.5rem;
    font-size:1.8rem;
    display:flex;
    align-items:center;
    position:absolute;
    left:1rem;
    top:1rem;
    padding:.5rem;
    font-weight:bold;
    user-select:none;
}

.profile-action-dropdown{
    position:absolute;
    right:0;
    top:0;
}

.profile-action-btn{
    display:flex;
    align-items:center;
    background:linear-gradient(to bottom right, #265386, #5589c5);
    color:#fff;
    padding:1rem;
    font-size:1.8rem;
    outline:none;
    border:none;
    border-radius:0 0 0 .5rem;
    position:absolute;
    right:0;
    top:0;
    font-family:inherit;
    font-weight:normal;
}

.btn-dropdown-opts{
    width:20rem;
    background:#fff;
    position:absolute;
    right:0;
    top:4.5rem;
    z-index:3;
    box-shadow: 0 0 1rem rgba(0,0,0,.24);
    overflow:hidden;
    border-radius:.5rem 0 0 .5rem;
    overflow:hidden;
}

.btn-dropdown-opt{
    width:100%;
    background:transparent;
    padding:1rem;
    font-size:1.6rem;
    border:0;
    border-bottom:1px solid #ccc;
    display:flex;
    align-items: center;

    &:hover{
        background:#e8f4ff;
    }
}

.action-img{
    margin-right:5px;
}

.badge{
    width:18px;
    margin-right:3px;
}

.profile-content{
    margin:6rem auto 0 auto;
    width:90%;
    padding-bottom:2rem;
}

.tile{
    padding:1rem;
    border:1px solid #ccc;
    border-radius:.5rem;
    margin-top:5rem;
    background:#fcfcfc;
    position:relative;
}

.bio-container{
    min-height:15rem;
}

.bio{
    white-space: pre-wrap;
    font-size:1.8rem;
    margin-top:1rem;
    color:#222;
    user-select:none;
}

.occupation, .location{
    padding-top:1rem;
    color:#222;
}

.tile-heading{
    position:absolute;
    font-weight:normal;
    top:-3rem;
    left:-1rem;
    font-size:3.75rem;
    padding:0 1rem;
    color:#8a7e4a;
    width:max-content;
    transform:rotate(-6deg) skew(-10deg);
    background:linear-gradient(to bottom, transparent 50%,#ece1c2 50%);
    user-select:none;
}

.occupation, .location{
    margin-top:1rem;
    font-size:2.5rem;
    user-select:none;
}

.fetchErrorBox{
    background:#eee;
    border:1px solid #888;
    border-radius:.5rem;
    color:#888;
    font-size:1.8rem;
    padding:2rem;
    margin:2rem auto;
    width:80%;

    &__message{
        margin-top:1.5rem;
    }
}

.profile-msg{
    background:#eee;
    border:1px solid #888;
    border-radius:.5rem;
    color:#888;
    font-size:1.8rem;
    padding:2rem;
    margin:2rem auto;
    width:80%;
    text-align:center;
    user-select:none;
}

.nobio, .not-specified{
    font-size:2.5rem;
    color:#bbb;
    text-align:center;
    margin-top:2rem;
}


