<div class="register-form__briefing">
    <h3 class="register-form__briefing-heading">Why Sign Up for KTOWN Portal?</h3>
    <ul class="briefing-list">
        <li *ngFor="let item of briefingListItems" class="briefing-list__item">
            <img src="../../../assets/check_box.svg" alt="checkmark icon">
            <span class="briefing-list__item-text">
                {{ item }}
            </span>
        </li>
    </ul>
    <button 
    type="button" 
    class="register-form__briefing-continue-btn"
    (click)="goToPartOne()"
    >
        Yes, take me to registration!
    </button>
</div>