<div class="container">
    <header class="header-bar">
        <img routerLink="/" src="../../../assets/ktown_portal_logo.png" class="logo"/>
        <button class="menu-toggle" (click)="openSideMenu()">
            <img src="../../../assets/menu.svg" class="menu-toggle__icon"/>
            <span class="menu-toggle__text">Menu</span>
        </button>
    </header>
    <div class="discussions-menu">
        <button class="discussions-menu__btn" routerLink="/discussions/add">
            <img src="../../../assets/create.svg" alt="Create Thread">
            <span>New Thread</span>
        </button>
        <button class="discussions-menu__btn">
            <img src="../../../assets/gavel.svg" alt="Create Thread">
            <span>Rules</span>
        </button>
        <button class="discussions-menu__btn">
            <img src="../../../assets/stars.svg" alt="Create Thread">
            <span>Leaderboards</span>
        </button>
    </div>
    <div class="discussions-topics">
        <a class="topic" routerLink="/discussions">
            All Recent
        </a>
        <a *ngFor="let topic of topics" class="topic" [routerLink]="['/','discussions', 'topic', topic.slug]">
            {{ topic.topic }}
        </a>
    </div>
    <div class="main-area">
        <div *ngIf="!threadLoading" class="discussion-thread-main">
            <img 
            [src]="thread.mainImage ? 'http://localhost:3000/public/uploads/profile-images/' + thread.profileImage + '.png' : '../../../assets/no-user.png'" 
            alt="user"
            class="user-image"
            >
            <div class="thread-info-controls">
                <div class="thread-author">
                    <h2 
                    [routerLink]="['/','profile','user',thread.authorUsername]" 
                    class="thread-author__username"
                    >
                        {{ thread.authorUsername }}
                    </h2>
                    <app-role-badge [role]="thread.role"></app-role-badge>
                </div>
            </div>
            <p class="thread-headline">
                {{ thread.headline }}
            </p>
            <div class="thread">
                <div class="thread__details" [innerHTML]="thread.details | safeHtml"></div>
            </div>
        </div>
        <app-thread-reply-form 
        *ngIf="!threadLoading && isLoggedIn"
        [thread-id]="thread.discussionThreadId"
        (reply-successful)="fetchReplies()"
        ></app-thread-reply-form>
        <div *ngIf="!repliesLoading" class="replies">
            <div *ngFor="let reply of replies" class="reply-main-container">
                <img 
                [src]="reply.profileImage ? 'http://localhost:3000/public/uploads/profile-images/' + reply.profileImage + '.png' : '../../../assets/no-user.png'" 
                [alt]="reply.replyAuthorUsername + ' Image'"
                class="user-image"
                />
                <div class="reply-info-controls">
                    <div class="reply-author">
                        <h2 
                        [routerLink]="['/','profile','user',reply.replyAuthorUsername]" 
                        class="reply-author__username"
                        >
                            {{ reply.replyAuthorUsername }}
                        </h2>
                        <app-role-badge [role]="reply.replyAuthorRole"></app-role-badge>
                    </div>
                    <button 
                    *ngIf="reply.actions" 
                    class="reply-action-button"
                    (click)="toggleDropdown(dropdown)"
                    >Actions</button>
                    <ul class="action-dropdown" #dropdown>
                        <li class="action-dropdown__item">Reply</li>
                        <li
                        *ngIf="reply.actions?.canLikeOrDislike" class="action-dropdown__item"
                        >
                        Like
                        </li>
                        <li 
                        *ngIf="reply.actions?.canLikeOrDislike" class="action-dropdown__item"
                        >
                        Dislike
                        </li>
                    </ul>
                </div>
                <div class="reply reply__content" [innerHTML]="reply.replyContent | safeHtml"></div>
            </div>
        </div>
    </div>
</div>