<ng-container [ngSwitch]="role">
    <p 
    *ngSwitchCase="2" 
    class="role"
    >
        <img 
        class="badge" 
        src="../../../assets/police-badge.png" 
        alt="badge">
        Bronze Moderator
    </p>
    <p 
    *ngSwitchCase="3"
    class="role"
    >
        <img 
        class="badge" 
        src="../../../assets/police-badge.png" 
        alt="badge">
        Silver Moderator
    </p>
    <p 
    *ngSwitchCase="4"
    class="role"
    >
        <img 
        class="badge" 
        src="../../../assets/police-badge.png" 
        alt="badge">
        Gold Moderator
    </p>
    <p 
    *ngSwitchCase="5"
    class="role"
    >
        <img 
        class="badge" 
        src="../../../assets/police-badge.png" 
        alt="badge">
        Staff
    </p>
    <p 
    *ngSwitchCase="6"
    class="role"
    >
        <img 
        class="badge" 
        src="../../../assets/police-badge.png" 
        alt="badge">
        Administrator
    </p>
</ng-container>