<div class="container">
    <header class="header-bar">
        <img routerLink="/" src="../../../assets/ktown_portal_logo.png" class="logo"/>
        <button class="menu-toggle" (click)="openSideMenu()">
            <img src="../../../assets/menu.svg" class="menu-toggle__icon"/>
            <span class="menu-toggle__text">Menu</span>
        </button>
    </header>
    <div class="discussions-menu">
        <button class="discussions-menu__btn" routerLink="/discussions/add">
            <img src="../../../assets/create.svg" alt="Create Thread">
            <span>New Thread</span>
        </button>
        <button class="discussions-menu__btn">
            <img src="../../../assets/gavel.svg" alt="Create Thread">
            <span>Rules</span>
        </button>
        <button class="discussions-menu__btn">
            <img src="../../../assets/stars.svg" alt="Create Thread">
            <span>Leaderboards</span>
        </button>
    </div>
    <div class="discussions-topics">
        <a class="topic">
            All Recent
        </a>
        <a class="topic">
            New To Knoxville
        </a>
        <a class="topic">
            Tourism
        </a>
        <a class="topic">
            Campus Life
        </a>
        <a class="topic">
            Community + Social
        </a>
        <a class="topic">
            Lifestyle
        </a>
        <a class="topic">
            Recipes + Cooking
        </a>
        <a class="topic">
            Style + Trends
        </a>
        <a class="topic">
            Music + Arts
        </a>
        <a class="topic">
            Dating Scene
        </a>
        <a class="topic">
            Outdoors
        </a>
        <a class="topic">
            Property Buying
        </a>
        <a class="topic">
            Activities + Events
        </a>
        <a class="topic">
            Politics
        </a>
        <a class="topic">
            Local Sports
        </a>
        <a class="topic">
            Religion + Church
        </a>
        <a class="topic">
            Careers + Education
        </a>
        <a class="topic">
            General
        </a>
    </div>
</div>