.header-bar{
    padding:.5rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    will-change:transform;
    box-shadow: 0 0 1rem rgba(0,0,0,.24);
}

.page-heading{
    text-align:center;
    font-size:3rem;
    margin:2rem 0;
    color:#555;
    user-select:none;
}

.main-area{
    padding:1.5rem;
    min-height:50rem;
}

.edit-profile-img-area{
    margin:2rem 0;
}

.profile-img{
    display:block;
    border-radius:90%;
    margin:auto;
    width:15rem;
}

.edit-profile-img-btn{
    display:flex;
    align-items:center;
    margin:1rem auto;
}

.edit-profile-form{
    max-width:50rem;
    margin:auto;
}

.main-loading-spinner{
    display:block;
    margin:4rem auto;
}

.page-error-message{
    background:#eee;
    border:1px solid #888;
    border-radius:.5rem;
    color:#888;
    font-size:1.8rem;
    padding:2rem;
    margin:2rem auto;
    width:80%;
    text-align:center;
}