.header-bar{
    padding:.5rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    will-change:transform;
    box-shadow: 0 0 1rem rgba(0,0,0,.24);
}

.new-thread-form, .preview{
    max-width:75rem;
    margin:0 auto;
    padding:1rem;
}

.preview-content{
    border:3px solid #ccc;
    padding:1rem;
    background:#fafafa;
    border-radius:1rem;
}

.subbut{
    margin-top:2rem;
}

.preview__headline{
    font-size:2rem;
    margin:1rem 0;
}

.subbut-spinner{
    width:3rem;
}