<div class="container">
    <header class="header-bar">
        <img routerLink="/" src="../../../assets/ktown_portal_logo.png" class="logo"/>
        <button class="menu-toggle" (click)="openSideMenu()">
            <img src="../../../assets/menu.svg" class="menu-toggle__icon"/>
            <span class="menu-toggle__text">Menu</span>
        </button>
    </header>
    <div class="main-area">
        <form class="new-thread-form" autocomplete="off">
            <div class="form-group">
                <label for="headline" class="label">Headline/Question</label>
                <input type="text" id="headline" class="text-input"/>
            </div>
            <div class="form-group">
                <label for="topic" class="label">Topic</label>
                <select id="topic" class="select-input">
                    <option value="">-- SELECT --</option>
                    <option *ngFor="let topic of topics">{{ topic }}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="label">Details</label>
                <quill-editor 
                [styles]="editorStyles"
                placeholder="Write something interesting..."
                >
                </quill-editor>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn--primary btn--block">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
<!-- <quill-editor [styles]="editorStyles"></quill-editor> -->
