<div class="container">
    <header class="header-bar">
        <img routerLink="/" src="../../../assets/ktown_portal_logo.png" class="logo"/>
        <button class="menu-toggle" (click)="openSideMenu()">
            <img src="../../../assets/menu.svg" class="menu-toggle__icon"/>
            <span class="menu-toggle__text">Menu</span>
        </button>
    </header>
    <div class="main-area">
        <form 
        *ngIf="showForm"
        [formGroup]="addDiscussionForm"
        (ngSubmit)="displayPreview()"
        class="new-thread-form" 
        autocomplete="off"
        >
            <div class="form-group">
                <label for="headline" class="label">Headline/Question</label>
                <input 
                type="text" 
                id="headline" 
                class="text-input"
                formControlName="headline"
                />
            </div>
            <div class="form-group">
                <label for="topic" class="label">Topic</label>
                <select 
                id="topic" 
                class="select-input"
                formControlName="topic"
                >
                    <option value="">-- SELECT --</option>
                    <option *ngFor="let topic of topics">{{ topic }}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="label">Details</label>
                <quill-editor 
                #editor
                [styles]="editorStyles"
                placeholder="Write something interesting..."
                formControlName="details"
                >
                </quill-editor>
            </div>
            <div class="form-group">
                <button type="submit" #subbut class="btn btn--primary btn--block">
                    Preview
                </button>
            </div>
        </form>
        <div class="preview" *ngIf="showPreview">
            <quill-view-html [content]="addDiscussionForm.get('details').value"></quill-view-html>
            <button class="btn btn--primary btn--block">Submit</button>
        </div>
    </div>
</div>
<!-- <quill-editor [styles]="editorStyles"></quill-editor> -->
