<div class="login-register-modal">
    <div class="login-register-modal__main">
        <button class="login-register-modal__close-btn" title="Close Window">
            <img src="./cancel.svg" class="close-icon" alt="Close Modal">
        </button>
        <div class="login-register-modal__form-toggle-btns">
            <button class="register-form-toggle active">
                Register
            </button>
            <button class="login-form-toggle">
                Login
            </button>
        </div>
        <div class="login-register-modal__form-container">
            <form class="register-form show">
                <h2 class="register-form__heading">Sign Up</h2>
                <div class="register-form__briefing show">
                    <h3 class="register-form__briefing-heading">Why Sign Up for KTOWN Portal?</h3>
                    <ul class="briefing-list">
                        <li class="briefing-list__item">
                            <img src="./check_box.svg" alt="checkmark icon">
                            <span class="briefing-list__item-text">
                                Earn points for participation. Redeem those points for rewards.
                            </span>
                        </li>
                        <li class="briefing-list__item">
                            <img src="./check_box.svg" alt="checkmark icon">
                            <span class="briefing-list__item-text">
                                Share your knoweledge and experience with others.
                            </span>
                        </li>
                        <li class="briefing-list__item">
                            <img src="./check_box.svg" alt="checkmark icon">
                            <span class="briefing-list__item-text">
                                Meet and engage with others around the area.
                            </span>
                        </li>
                        <li class="briefing-list__item">
                            <img src="./check_box.svg" alt="checkmark icon">
                            <span class="briefing-list__item-text">
                                Share your insights with visitors and prospective
                                residents of Knoxville/Knox County.
                            </span>
                        </li>
                        <li class="briefing-list__item">
                            <img src="./check_box.svg" alt="checkmark icon">
                            <span class="briefing-list__item-text">
                                Level up and earn badges along the way!
                            </span>
                        </li>
                    </ul>
                    <button type="button" class="register-form__briefing-continue-btn">
                        Yes, take me to registration!
                    </button>
                </div>
                <div class="register-form__part-1">
                    <fieldset>
                        <legend>Date of Birth</legend>
                        <div class="form-group">
                            <label for="birth-month" class="label">Month</label>
                            <select class="select-input" id="birth-month">
                                <option value="">-- SELECT --</option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="birth-day" class="label">Day</label>
                            <select id="birth-day" class="select-input">
                                <option value="">-- SELECT --</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="birth-year" class="label">Year</label>
                            <select id="birth-year" class="select-input">
                                <option value="">-- SELECT --</option>
                                <!-- Years dynamically inserted here -->
                            </select>
                        </div>
                    </fieldset>
                    <button type="button" class="btn btn--block btn--primary register-form__part-1-next-btn">
                        Next
                    </button>
                </div>
                <div class="register-form__part-2">
                    <div class="form-group">
                        <label for="register-email" class="label">Email</label>
                        <input type="email" id="register-email" class="text-input"/>
                    </div>
                    <div class="form-group">
                        <label for="register-username" class="label">Username</label>
                        <input type="text" id="register-input" class="text-input"/>
                    </div>
                    <div class="form-group">
                        <label for="register-password" class="label">Password</label>
                        <input type="password" id="register-password" class="text-input">
                    </div>
                    <div class="form-group">
                        <label for="register-confirm-password" class="label">Confirm Password</label>
                        <input type="password" id="register-confirm-password" class="text-input"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn--block btn--primary">
                            Complete Registration
                        </button>
                    </div>
                </div>
            </form>
            <form class="login-form">
                <h2 class="login-form__heading">Sign In</h2>
            </form>
        </div>
    </div>
</div>